.feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: #f5f4fa;
        margin-bottom: 30px;
    }

    &__sub-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: var(--desc-text-color);
    }
}

// MOBILE
@media screen and (max-width: 767px) {
    .feature-list__sub-title {
        text-align: center;
    }
}

// TABLET
@media screen and (min-width: 768px) {
    .feature-list__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}

// DESKTOP
@media screen and (min-width: 1200px) {
    .feature-list__item {
        flex-basis: calc((100% - 90px) / 4);
    }
}

