.footer {
    background-color: #2f303a;
    padding: 60px 0;

    &__container {
        display: flex;
    }

    &__logo {
        color: #ffffff;
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 20px;
        margin-top: 12px;
    }

}

.contact {
    margin-top: 20px;
}

.contact-list{
    &__item {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        margin-bottom: 9px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__address {
        color: #ffffff;
    }

    &__phone,
    &__email {
        color: var(--info-text-color);
    }
}

/* social */

.social-list{
    &__icon_footer {
        fill: #ffffff;
    }

    &__link_footer {
        background: rgba(255, 255, 255, 0.1);
    }
}

/* subscribe */

.subscribe{
    &__input {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        width: 450px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: transparent;
        outline: none;
        padding: 15px 16px;

        &:focus {
            border: 1px solid #ffffff;
            color: #ffffff;
        }
    }

    &__btn {
        display: inline-flex;
        border: 1px solid var(--accent-color);
        padding: 10px 28px;
    }

    &__btn-icon {
        align-self: center;
        fill: #ffffff;
        margin-left: 10px;
    }


}

// MOBILE
@media screen and (max-width: 767px) {
    .footer{
        text-align: center;

        &__container {
            flex-direction: column;
            row-gap: 48px;
        }
    }
    
    .subscribe__btn{
        margin-top: 20px;
    }
    
}

// TABLET ONLY
@media screen and (min-width: 768px) and (max-width:1199px) {
    .footer {
        text-align: center;

        &__container {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__address {
            flex-basis: calc(50% - 15px);
        }

        &__social {
            flex-basis: calc(50% - 15px);
        }

        &__subscribe {
            margin-top: 48px;
            flex-basis: 100%;
        }
    }

    .subscribe__btn{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
}

// DESKTOP
@media screen and (min-width: 1200px) {
    .footer__container {
        justify-content: space-between;
    }

    .subscribe__input{
        width: 358px;
    }

    .subscribe__btn{
        margin-left: 12px;
    }
}