.hero{
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__container {
        padding: 118px 0;
    }

    &__btn {
        padding: 10px 24px;
    }

    &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-transform: uppercase;
        color: #ffffff;
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

}

// MOBILE
@media screen and (max-width: 767px) {
    .hero {
        max-width: 767px;
        height: 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('./../../images/hero/mobile/hero.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../../images/hero/mobile/hero@2x.jpg');
        }
    }
    
}

// TABLET
@media screen and (min-width: 768px) {
    .hero {
        max-width: 1199px;
        height: 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/hero/tablet/hero.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../../images/hero/tablet/hero@2x.jpg');
        }
    }

}

// DESKTOP
@media screen and (min-width: 1200px) {
    .hero{
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../../images/hero/desktop/hero.jpg');

        &__container {
            padding: 200px 0;
        }

        &__btn {
            padding: 10px 32px;
        }

        &__title {
            font-size: 44px;
            line-height: 1.36;
            max-width: 696px;
        }
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../../images/hero/desktop/hero@2x.jpg');
        }
    }
}

