.team {
    background-color: #f5f4fa;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__item {
        flex-basis: 100%;
        font-size: 16px;
        line-height: 1.19;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #fff;
    }

    &__content-wrapper {
        padding: 30px 0 24px 0;
        text-align: center;
    }

    &__title {
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__position {
        color: var(--desc-text-color);
        margin-bottom: 16px;
    }
}

.social-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: #ffffff;
        transition: background-color var(--transition-dur-and-func);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }

    &__icon {
        fill: #afb1b8;
        transition: fill var(--transition-dur-and-func);

        .social-list__link:hover &,
        .social-list__link:focus & {
            fill: #ffffff;
        }
    }
}

// MOBILE
@media screen and (max-width: 767px) {
    .team-list__item {
        flex-basis: 100%;
    }
}


// TABLET
@media screen and (min-width: 768px) {
    .team-list__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}

// DESKTOP
@media screen and (min-width: 1200px) {
    .team-list__item {
        flex-basis: calc((100% - 90px) / 4);
    }

    .team-list__content-wrapper {
        padding: 30px 0;
    }
}

