@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        max-height: 796px;
        background-color: #ffffff;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--transition-dur-and-func),
            visibility var(--transition-dur-and-func);
    }

    &__container {
        position: relative;
        height: 100%;
        min-height: 500px;
        padding-left: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
    }

    &__close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        background-color: transparent;
        border: 0;
        padding: 0;
        line-height: 0;
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-list{
        &__item:not(:last-child) {
            margin-bottom: 32px;
        }

        &__link {
            font-weight: 500;
            font-size: 40px;
            line-height: 1.175;
            letter-spacing: 0.02em;
            color: var(--primary-text-color);

            &_current {
                color: var(--accent-color);
            }
        }
    }

    .mobile-menu-bottom {
        position: absolute;
        bottom: 48px;
        left: 40px;
    }

    .mobile-menu_links{
        &__item {
            margin-bottom: 64px;

            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }

        &__tel {
            font-weight: 500;
            font-size: 34px;
            line-height: 1.25;
            letter-spacing: 0.02em;
            color: var(--accent-color);
        }

        &__email {
            font-weight: 500;
            font-size: 24px;
            line-height: 1.16;
            letter-spacing: 0.02em;
            color: var(--desc-text-color);
        }
    }

    .mobile-menu_social{
        display: flex;
        column-gap: 10px;

        &__link {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.22;
            letter-spacing: 0.02em;
            color: var(--accent-color);
        }

        &__item:not(:last-child):after {
            content: '';
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
            margin-left: 10px;
        }
    }
}

@media screen and (min-width: 768px){
    .mobile-menu {
        display: none;
    }
}